@import "./scss/resets.scss";
@import "./scss/components/Form/Form.scss";
@import "./scss/components/Header/Header.scss";

body {
  background: url("https://i.ibb.co/XDjDDr9/backgound.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#app {
  min-height: 100vh;
  padding: 0 10px;
}
