.form {
  margin-top: 50px;
  h1 {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 10px;
  }
  p {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 10px;
  }
  input {
    width: 100%;
    height: 40px;
    background-color: rgba($color: #fff, $alpha: 0.1);
    color: white;
    border: none;
    outline: none;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 5px 10px;
  }
  input::placeholder {
    color: white;
  }
  input:focus {
    border: 1px solid white;
  }
  button {
    width: 100%;
    height: 40px;
    background-color: #0073fa;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
  }
  button:hover {
    border: 1px solid white;
  }
}
@media (min-width: 768px) {
  .form {
    position: absolute;
    width: 500px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba($color: #000000, $alpha: 0.6);
    input {
      padding: 10px;
    }
  }
}
@media (min-width: 1024px) {
  .form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    input {
      height: 50px;
      margin: 0;
    }
  }
  .form {
    button {
      margin-top: 20px;
    }
  }
}
